body {
    background-color: #f5f5f5;
}

iframe {
    height: 50%;
    width: 100%;
}

.form {
    padding: 20px;
}

#preview {
    overflow-y: auto;
    height: 540px;
}

.logo {
    text-align: center;
}

main > .container {
  padding: 80px 15px 0;
}

footer {
    background-color: gray;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

form#search {
    max-width: 330px;
    margin: auto;
}

form#search .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

form#search input {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #3b579d;
}

a {
    color: #3b579d;
}

ul.posts {
    list-style-type: none;
    background-color: white;
    padding: 40px;
}

.post {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin: 12px;
    padding: 12px;
}

.sites .site {
    display: inline-block;
    list-style: none;
    border: solid 1px black;
    border-radius: 5px;
    margin: 1.5rem;
    padding: 1rem;
}

.sites .site.facebook {
    background-color: #3b579d50;
}

.sites .site.instagram {
    background-color: #ffff0050;
}

.sites .site.twitter, .sites .site.twitter a {
    background-color: #1da1f2;
    color: white;
}

.sites .site.youtube {
    background-color: #ff000050;
}

.sites .site.leboncoin, .sites .site.leboncoin a {
    background-color: #ff6e14;
    color: white;
}

.sites .site ul {
    padding-left: 20px;
}
