body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.logo {
    text-align: center;
}

.content {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: auto;
}

form {
    max-width: 330px;
    margin: auto;
}

form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

form input {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #3b579d;
}
