{% import "macro.html" as macro %}

<html>
    <head>
        <meta charset="utf-8" />
        <title>Out Of GAFAM</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="/static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/main.css" />
        {% if site is defined %}
            <link rel="icon" href="/static/img/favicon/{{ site }}.ico">
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">Out Of GAFAM</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>

                    </ul>

                    {% if site is defined and user.id is defined %}
                        <ul class="navbar-nav mt-2 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/{{ site }}/{{ user.id }}">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="logo">
                    {% block logo %}
                        <img class="mb-4" src="/static/img/logo.jpg" />
                    {% endblock %}
                    <h1 class="h3 mb-3 font-weight-normal">{% block title %}{% endblock %}</h1>
                </div>

                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
