{% extends "base.html" %}

{% block content %}
    <form action="/search" method="post" id="search">
        <input type="text" name="account" placeholder="Account URL or name" class="form-control" />

        <button type="submit" class="btn btn-lg btn-primary btn-block">Go !</button>
    </form>

    <ul class="sites d-flex justify-content-center">
        {# https://github.com/Keats/tera/issues/320 #}
        <li class="site facebook">{% include "help/facebook.html" %}</li>
        <li class="site instagram">{% include "help/instagram.html" %}</li>
        <li class="site youtube">{% include "help/youtube.html" %}</li>
    </ul>
{% endblock %}
