{% extends "base.html" %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed/{{ group.id }}" />
<link href="/static/lib/Font-Awesome/css/all.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}<a href="{{ group.url | safe }}">{{ group.name }}</a>{% endblock %}

{% block logo %}
    {% if group.image %}
        <img class="mb-4" src="{{ group.image | safe }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="posts">
        {% for post in group.posts %}
            <li class="post">
                {{ post.name | safe }}
                <div>
                    {{ post.message | safe }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
