{% extends "base.html" %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed/{{ site }}/{{ user.id }}" />
{% endblock %}

{% block title %}
    <a href="{{ user.url | safe }}" title="Back to {{ site }}">
        <i class="fab fa-{{ site }}"></i> {{ user.name }}
    </a>
{% endblock %}

{% block logo %}
    {% if user.image %}
        <img class="mb-4" src="{{ user.image | safe }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="posts">
        {% for post in user.posts %}
            <li class="post">
                <a href="{{ post.permalink_url | safe }}">{{ post.name | safe }}</a>
                <div>
                    {{ post.message | safe }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
